.footer {
  height: 10vh;
  width: 100vw;
  background-color: #33bd8f;
  text-align: center;
  box-shadow: 0 -2px 5px rgb(0, 53, 20);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
