.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5.5vh;
  background-color: #33bd8f;
  font-size: 1.2rem;
  padding-top: 0.5vh;
  text-align: center;
  box-shadow: 0 -2px 5px rgb(0, 53, 20);
}
